.App {
  text-align: center;
}

.form{
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.form label{
  text-align: left;
  display: block;
}

.form h2{
  font-size : 20px;
  color: red;
  margin-bottom: 30px;
}

.form input{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border : 2px solid black;
  box-sizing: border-box;
  display: block;
}

.form button{
  background: red;
  color: white;
  font-size: 15px;
  border:0;
  padding:7px;
  border-radius: 10px;
  cursor: pointer;
}

p{
  display: block;
  text-align: left;
  color:#00008b;
  font-size: 1.5em;
}


